# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt
*.pro.user
*.pro.autosave
Makefile
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qm
*.prl
*.moc

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/
build/
*.ninja
.ninja_deps
.ninja_log

# VS
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
x64/
x86/

# Temporary files
*.tmp
*.log
*.swp
.DS_Store
Thumbs.db